.create-user {
  min-height: calc(100vh - 118px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  @media screen and (max-width: 450px) {
    margin: 0 !important;
  }
  @media screen and (max-width: 366px) {
    width: 100% !important;
  }
}
