.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
  min-height: calc(100vh - 118px);
  .base {
    display: flex;
    gap: 2rem;
    .login-base {
      width: 23rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
    }
    .image-section {
      height: 100%;
    }
  }

  @media screen and (max-width: 876px) {
    .image-section {
      display: none !important;
    }
  }
  @media screen and (max-width: 450px) {
    margin: 0 !important;
  }
  @media screen and (max-width: 366px) {
    .login-base {
      width: 100% !important;
    }
    .signin-login {
      width: 100% !important;
    }
  }
}
