@import "@styles/media-mixins.scss";

.pastCardComponentWrapperCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.0625rem solid #dddddd;
  border-radius: 0.375rem;
  // padding: 0.75rem;
  cursor: pointer;
  div:last-child {
    width: 100%;
    padding: 0.75rem;
  }
  
  &:focus-visible{
    outline: 2px solid #2cc4ff;
  }

  img {
    width: 1.625rem;
    height: 1.5rem;
  }

  .pointerToArrow {
    cursor: auto !important;
  }

  .flightInfo {
    display: flex;
    flex-direction: column;

    &Destination {
      font-size: 1rem;
      line-height: normal;
      font-style: normal;
      font-weight: 700;
      color: #212121;
      margin: 0;
      // text-transform: capitalize !important;
    }

    &Date {
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.3125rem;
      color: #757575;
      margin: 0;
    }
    &Confirmation {
      margin-top: 2px;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.3125rem;
      color: #757575;
      margin: 0;
      span {
        font-weight: 500;
      }
    }
  }

  .outlineButton {
    width: unset;
    padding: 12px 32px !important;

    @include mobile-plus() {
      padding: 12px 16px !important;
    }
  }

   
  .rebookButton {
    background-color: #4c12a1;
    border: #ffffff solid 0.0625rem;
    border-radius: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    padding: 12px 32px;
    color: white;
    @include mobile-plus() {
      padding: 12px 16px !important;
    }
  }


  .canceledFlight {
    color: var(--ui-system-red-red-600, #dc2626);
    color: var(--ui-system-red-red-600, #dc2626);
    font-size: 16px;
    font-weight: 700;
  }

  .buttonContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .disruptBlock {
    width: 100%;
    padding: 0.5rem;

    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    p {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
}
