@import '@styles/colors.scss';

.user-section {
  width: 70%;
  .user-details {
    margin-top: 3rem;
    display: flex;
    height: 10rem;
    gap: 1rem;
    .profile-pic {
      flex: 2;
      display: flex;
      justify-content: center;
      .image-container {
        height: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .profile-fallback {
          height: 100%;
          width: 100%;
          font-size: 3rem;
          font-weight: 500;
          color: #838383;
          justify-content: center;
          display: flex;
          align-items: center;
          background: beige;
        }
      }
    }
    .account-info {
      flex: 5;
      display: flex;
      flex-direction: column;
      > div {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
        span {
          flex: 1;
        }
      }
      .row-one {
        .mail {
          font-size: 1.125rem;
          font-weight: 500;
        }
        .edit-button {
          cursor: pointer;
          font-size: 0.875rem;
          font-weight: 600;
          padding: 0.4rem 1rem;
          border-radius: 0.5rem;
          background-color: #363636;
        }
      }
      .row-two {
        span {
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .row-three {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1200px) {
  .user-section {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .user-section {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .user-section {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .user-details {
    flex-direction: column;
  }
  .row-two {
    display: none !important;
  }
  .account-info {
    flex: 1 !important;
    flex-direction: column-reverse !important;
  }
  .profile-pic {
    flex: 1 !important;
  }
}

@media (max-width: 500px) {
  .row-one {
    flex-direction: column;
  }
  .row-three {
    flex-direction: column;
  }
}
