.forget-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 54px);
  .main-container {
    width: 24.25rem;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      text-align: center;
      .form {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p {
        margin: 0;
      }
      .heading {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
      }
      .detail {
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 400;
        color: #737373;
      }
      .lock-container {
        border: 2px solid black;
        border-radius: 50%;
        height: 96px;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
      }
      .email {
        width: 100%;
      }
      input {
        width: 96%;
        padding: 9px 0 7px 8px;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 1rem;
        border: 1px solid #dbdbdb;
        outline: none;
        border-radius: 4px;
        overflow: hidden;
        background-color: #fafafa;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Helvetica, Arial, sans-serif;
      }
      input:focus {
        border: 1px solid #000;
      }
      button:not([disabled]):hover {
        background-color: #1877f2;
      }
      button:disabled {
        opacity: 0.4;
      }
      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        margin: 0.4rem;
        background-color: #0095f6;
        border: none;
        color: #ffffff;
        border-radius: 0.5rem;
        font-size: 14px;
        font-weight: 600;
        padding: 7px 16px !important;
        .loading {
          animation: rotation 2s linear infinite;
        }
      }
      .create-user-button {
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    .back-login {
      cursor: pointer;
      width: 100%;
      background-color: #fafafa;
      .back-button {
        font-size: 0.875rem;
        font-weight: 600;
        height: 2.75rem;
        display: flex;
        align-items: center;
      }
    }
  }
}
