@import '../../../common/styles/colors.scss';

.listFlightWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  padding: 1rem;
  padding-right: 0.5rem;
  .skeletonBlock.upcoming {
    height: 457px;
  }
}
.noTrip {
  border: 0.0625rem solid #dddddd;
  border-radius: 0.5rem &Text {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 10.5rem;
    color: #474747;
    margin: 0;
    padding: 1.625rem 0rem;
  }
}
.arrowButton {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}
.arrowButton:focus-visible{
  outline: 2px solid #2cc4ff;
}

.upcomingFlightSubheading {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.8125rem;
  color: $color-text;
}
.flightListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 26rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}
.flightListContainer:focus-visible{
  outline: 2px solid #2cc4ff;
}

.flightListContainer::-webkit-scrollbar {
  width: 0.5rem;
}

.flightListContainer::-webkit-scrollbar-track {
  background: rgba(208, 208, 208, 0.3);
  border-radius: 0.625rem;
}

.flightListContainer::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
  border-radius: 0.625rem;
}
