@import '../../../common/styles/colors.scss';

.componentWrapper {
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 2.1125rem;
    color: $color-text;
  }
}
.walletBookTrip {
  width: 249px !important;
}
