@import '../../../common/styles/colors.scss';

.promotionWrapper {
  .skeletonBlock {
    height: 249px;
  }
  .cap-one-placement-wrapper {
    p,
    li {
      font-weight: 500;
      color: $color-text;
    }
    // li::marker {
    //   width: 12px;
    //   height: 12px;
    // }
  }
  a {
    color: $primary-color !important;
  }

  .cap-one-placement-wrapper .rw2 {
    justify-content: space-between;
  }
  .cap-one-placement-wrapper .rw3 a.butn:focus-visible{
    outline: 2px solid #2cc4ff;
  }
}

